<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Mi App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>AegisNet</h1>
    <nav>
      <a href="/">🏠 Inicio</a> |
      <a href="/agentes">🤖 Agentes</a> |
      <a href="/tendencias">📈 Tendencias</a> |
      <a href="/admin">⚙️ Panel de Control</a> |
      <a href="/clones">🧬 Buscar Clones</a> |
      <a href="/clones/historial">🗂️ Historial de Clones</a>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; HenrySpark369 @2025</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>